body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E5E5E5;
    text-align: center;
}

.homePageOutermostcontainer {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;
}

.sidebar {
    background-color: #5DADE2;
    width: 200px;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.sidebar .profile {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
    
}

.avatarHomePage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.spacingHomePage {
    margin-top: 40px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
}

 .spanForHome {
    margin-left: 7px;
    font-size: 14px;
 } 


.sidebar a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
    padding: 15px 20px;
    display: block;
    font-size: 22px;
    border-bottom: 1px solid white;
}

.sidebar a:hover {
    background-color: #2980B9;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}

.header {
    background-color: #5DADE2;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
   
}

.header .title-logo {
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.header .title-logo img {
    height: 90px;
    margin-right: 200px;
    
}

.header h1 {
    margin-left: 5px;
    
}

.header .logout-btn {
    background-color: white;
    color: #5DADE2;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

/* .outerContainers {
    background-color: rgb(255, 230, 202);
    height: 100vh;
    width: 100vw;
    margin: 0%;
    color: black;
} */
 .taskbar {
    color: whitesmoke;
    background-color: #5DADE2;
    display: flex;
    margin-top: 10px;
    padding: 4px;
    border-radius: 8px;
 }
 .taskbar .button{
    padding: 4px;
    background-color: aliceblue;
    color:#5DADE2;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    margin-left: 10px;
 }
.profilebtn {
    background-color: #5DADE2; 
    color: white; 
    border: 2px solid white;
    

}
.profilebtn:hover {
    background-color: white;
    color: #5DADE2; 
}
.eventLogBtn{
    border: 2px solid white;
    background-color: #5DADE2;
    color: white;
    border-radius: 15px;
    padding: 4px;
}
.eventLogBtn:hover{
    background-color: white;
    color: #5DADE2; 
}
.event-log-container {
    font-family: 'lato', sans-serif;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  
  .responsive-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 20%;
    }
    .col-3 {
      flex-basis: 10%;
    }
    .col-4 {
      flex-basis: 15%;
    }
    .col-5 {
        flex-basis: 15%;
      }
      .col-6 {
        flex-basis: 15%;
      }
      .col-7 {
        flex-basis: 15%;
      }
    
    @media all and (max-width: 780px) {
      .table-header {
        display: none;
      }
     
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }