.logo {
    width: 500px;
    height:500px;
    text-align: center;
    margin-right: 660px;
    
}

.logo img {
    width: 500px;
    height: 500px;
}

.outerContainerLogin {
    width: 420px;
    border-radius: 10px;
    color: gainsboro;
    padding: 30px 40px;
    background: transparent;
    border: 2px solid gainsboro;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.outerContainerLogin h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

.outerContainerLogin .input-box {
    position: relative;
    width: 100%;
    height: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 20px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.outerContainerLogin .rememeber-forgotLogin {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin: -15px 0 15;
    color: white;
    margin-bottom: 40px;
}

.rememeber-forgotLogin label input {
    accent-color: white;
    margin-right: 5px;
}

.rememeber-forgotLogin a {
    color: white;
}

.outerContainerLogin button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 750;

}

.outerContainerLogin button a {
    color: #333;
    text-decoration: none;
    /*removes the hyperlink underline  */
}

.outerContainerLogin .register-link {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.outerContainerLogin .register-link a {
    font-weight: 600;
    color: white;
}