.loginPageContainer {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    background: white;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th,
.user-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-table tr:hover {
    background-color: white;
}

.user-table a {
    padding: 10px;
    width: 90px;
    border-radius: 4px;
    border: .1px solid green;
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.user-table a:hover {
    background-color: blueviolet;
    color: azure;
}

.createNewUserButton {
    justify-content: right;
    margin-left: 1150px;
    padding: 12px;
    width: 140px;
    border-radius: 4px;
    border: .1px solid green;
    background-color: cornflowerblue;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.createNewUserButton a {
    text-decoration: none;
    color: aliceblue;
}

.createNewUserButton:hover {
    background-color: blueviolet;
    color: azure;
}