body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E5E5E5;
}

.outerContainers {
    font-family: "Poppins", sans-serif;
}

.homePageOutermostcontainer {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

.sidebar {
    font-family: "Poppins", sans-serif;
    background-color: #5DADE2;
    max-width: 205px;
    min-width: 205px;
    min-height: 100vh;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.avatarHomePage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.spacingHomePage {
    margin-top: 40px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.spanForHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    min-height: 100vh;
}

.header {
    background-color: #5DADE2;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .title-logo {
    display: flex;
    align-items: center;
}

.header .title-logo img {
    height: 90px;
    margin-right: 20px;
}

.header h1 {
    margin: 0;
}

.header .rightHeader {
    display: flex;
    justify-content: right;
    gap: 10px;
}
