body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E5E5E5;
}

.outerContainers {
    font-family: "Poppins", sans-serif;
}

.homePageOutermostcontainer {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

.sidebar {
    font-family: "Poppins", sans-serif;
    background-color: #5DADE2;
    max-width: 205px;
    min-width: 205px;
    min-height: 100vh;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.avatarHomePage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.spacingHomePage {
    margin-top: 40px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.spanForHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    min-height: 100vh;
}

.header {
    background-color: #5DADE2;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .title-logo {
    display: flex;
    align-items: center;
}

.header .title-logo img {
    height: 90px;
    margin-right: 20px;
}

.header h1 {
    margin: 0;
}

.header .rightHeader {
    display: flex;
    justify-content: right;
    gap: 10px;
}
.dash-entry-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.dash-card {
    font-family: "Poppins", sans-serif;
    width: calc(30% - 20px);
    /* Ensures two cards per row */
    height: 150px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px 0;
    flex-direction: column;
    justify-content: space-between;
}


.dash-card:hover {
    transform: scale(1.01);
    /* Slightly less intense hover effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dash-card-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #333;
}
.dash-card-content {
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    color: #555;
    font-size: 40pt;
    justify-content: center !important;
}
.poor-ratio {
    color: red;
    font-weight: bold;
  }
  
  .average-ratio {
    color: orange;
    font-weight: bold;
  }
  
  .healthy-ratio {
    color: green;
    font-weight: bold;
  }
